body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    background-color: #0B7A75;
    color: #fff;
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #c6f6f8;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #00b0b5;
}

tr:hover {
    background-color: #ddd;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.panel {
    background-color: #0B7A75;
    color: white;
    height: 674px;
}

.admintitle {
    padding: 4px;
    background-color: #00b0b5;
    color: white;
}

.jjj {
    margin-top: 0px;
}

.adminlist {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.adminlist a {
    color: #fff;
    text-decoration: none;
}